//Главная

.main-home {
    position: relative;
    // .main-home__bg
    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    // .main-home__image-1
    &__image-1 {
        position: absolute;
        bottom: 0;
        right: -110px;
        width: 800px;
        height: auto;
        @media (max-width: $tablet) {
            width: 50%;
        }
        @media (max-width: $mobile) {
            width: 80%;
        }
        @media (max-width: $mobileSmall) {
            width: 100%;
        }
    }
    // .main-home__image-2
    &__image-2 {
        position: absolute;
        bottom: 67px;
        right: 586px;
        width: 227px;
        height: auto;
        transform: rotate(-16deg);
        @media (max-width: $pc) {
            width: 132px;
        }
        @media (max-width: $tablet) {
            display: none;
        }
    }
    // .main-home__image-3
    &__image-3 {
        position: absolute;
        top: 197px;
        right: 10px;
        width: 132px;
        height: auto;
        transform: rotate(-1deg);
        @media (max-width: $tablet) {
            width: 100px;
            top: 50px;
        }
        @media (max-width: $mobile) {
            width: 80px;
        }
        @media (max-width: $mobileSmall) {
            display: none;
        }
    }
    // .main-home__image-4
    &__image-4 {
        position: absolute;
        top: 136px;
        right: 122px;
        width: 137px;
        height: auto;
        transform: rotate(8deg);
        @media (max-width: $tablet) {
            width: 100px;
            top: 30px;
            right: 90px;
        }
        @media (max-width: $mobile) {
            right: 70px;
            width: 80px;
        }
        @media (max-width: $mobileSmall) {
            display: none;
        }
    }
    // .main-home__container
    &__container {
        position: relative;
        max-width: 1720px;
    }
    // .main-home__content
    &__content {
        position: relative;
        z-index: 10;
        padding: 100px 0px 142px 0px;
        @media (max-width: $tablet) {
            padding: 50px 0px;
        }
        @media (max-width: $mobileSmall) {
            padding: 30px 0px;
        }
    }
    // .main-home__titles
    &__titles {
        position: relative;
        max-width: 1396px;
        margin: 0px 0px 64px 0px;
        @media (max-width: $mobile) {
            margin: 0px 0px 30px 0px;
        }
    }
    // .main-home__star
    &__star {
        position: absolute;
        top: 20px;
        right: 37px;
        &::before {
            font-size: 33px;
            color: $gold;
        }
        @media (max-width: $pc) {
            top: -50px;
            right: 0;
        }
        @media (max-width: $tablet) {
            top: -25px;
            &::before {
                font-size: 20px;
            }
        }
        @media (max-width: $mobileSmall) {
            top: -15px;
        }
    }
    // .main-home__title
    &__title {
        position: relative;
        display: flex;
        align-items: center;
        margin: 0px 0px 10px 0px;
        h2 {
            text-align: left;
        }
        h1 {
            font-family: $secondFamily;
            font-weight: 400;
            font-size: 100px;
            line-height: 120%;
            text-transform: uppercase;
            color: $bordo;
            @media (max-width: $tablet) {
                font-size: 70px;
            }
            @media (max-width: $mobile) {
                font-size: 50px;
            }
            @media (max-width: $mobileSmall) {
                font-size: 36px;
            }
        }
        &.h1 {
            .main-home__title-icon {
                position: absolute;
                bottom: 20px;
                left: 50%;
                &::before {
                    font-size: 100px;
                }
                @media (max-width: $pc) {
                    display: none;
                }
            }
        }
    }
    // .main-home__title-icon
    &__title-icon {
        display: flex;
        align-items: center;
        margin: 0px 0px 0px 30px;
        @media (max-width: $mobile) {
            margin: 0px 0px 0px 20px;
        }
        &::before {
            font-size: 48px;
            color: $gold;
            @media (max-width: $mobile) {
                font-size: 38px;
            }
            @media (max-width: $mobileSmall) {
                font-size: 28px;
            }
        }
    }
    // .main-home__subtitle
    &__subtitle {
        text-align: left;
    }
    // .main-home__buttons
    &__buttons {
        display: flex;
        align-items: start;
        justify-content: start;
        @media (max-width: $mobile) {
            flex-direction: column;
        }
    }
    // .main-home__button
    &__button {
        margin: 26px 0px 0px 0px;
        @media (max-width: $mobile) {
            margin: 0px 0px 0px 70px;
        }
    }
    // .main-home__arrow
    &__arrow {
        margin: 0px 0px 0px 20px;
        @media (max-width: $mobile) {
            margin: 0px 0px 0px -30px;
            transform: rotate(-90deg) scale(-1, 1);
        }
    }
    // .main-home__items
    &__items {
        margin: 106px 0px 0px -60px;
        @media (max-width: $mobile) {
            margin: -30px 0px 0px 90px;
        }
    }
    // .main-home__item
    &__item {
        border: 2px solid $gold;
        border-radius: 20px;
        padding: 20px;
        background: $white;
        max-width: 329px;
        p {
            text-align: center;
        }
    }
}

//========================================================================================================================================================

.block {
    padding: 100px 0px;
    @media (max-width: $tablet) {
        padding: 50px 0px;
    }
    @media (max-width: $mobileSmall) {
        padding: 30px 0px;
    }
    // .block__container
    &__container {
    }
    // .block__titles
    &__titles {
    }
    // .block__title-icon
    &__title-icon {
    }
    // .block__title
    &__title {
    }
    // .block__subtitle
    &__subtitle {
    }
    // .block__content
    &__content {
        display: flex;
        margin: 0px -10px;
        @media (max-width: $tablet) {
            flex-direction: column-reverse;
            margin: -20px 0px;
        }
    }
    // .block__body
    &__body {
        flex: 0 1 50%;
        padding: 0px 10px;
        @media (max-width: $tablet) {
            flex: 1 1 auto;
            padding: 20px 0px;
        }
    }
    // .block__item
    &__item {
        padding: 40px;
        @media (max-width: $tablet) {
            padding: 0px;
        }
    }
    // .block__icons
    &__icons {
        display: flex;
        justify-content: center;
        img {
            height: auto;
            width: 240px;
        }
        &.block-icons-1 {
            margin: -40px 0px 20px 0px;
            @media (max-width: $tablet) {
                margin: 0px 0px 20px 0px;
            }
        }
        &.block-icons-2 {
            margin: 30px 0px -40px 0px;
            @media (max-width: $tablet) {
                margin: 30px 0px 0px 0px;
            }
        }
    }
    // .block__list
    &__list {
        ul {
            margin: -10px 0px;
            li {
                display: flex;
                align-items: center;
                padding: 10px 0px;
            }
        }
    }
    // .block__icon
    &__icon {
        margin: 0px 10px 0px 0px;
    }
    // .block__text
    &__text {
        margin: 26px 0px 0px 0px;
    }
    // .block__image
    &__image {
        flex: 0 1 50%;
        padding: 0px 10px;
        @media (max-width: $tablet) {
            flex: 1 1 auto;
            padding: 20px 0px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 20px;
        }
    }
    // .block__video
    &__video {
        cursor: pointer;
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        overflow: hidden;
        @media (max-width: $tablet) {
            height: 600px;
        }
        @media (max-width: $mobile) {
            height: 450px;
        }
        @media (max-width: $mobileSmall) {
            height: 250px;
        }
    }
    // .block__item-video
    &__item-video {
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
        width: 100%;
        height: 100%;
        z-index: 1;
        object-fit: cover;
    }
}

.about {
    .block__content {
        @media (max-width: $tablet) {
            flex-direction: column;
        }
    }
}

//========================================================================================================================================================

//Програма

.program {
    padding: 100px 0px;
    background: $bg;
    @media (max-width: $tablet) {
        padding: 50px 0px;
    }
    @media (max-width: $mobileSmall) {
        padding: 30px 0px;
    }
    // .program__titles
    &__titles {
    }
    // .program__title-icon
    &__title-icon {
    }
    // .program__title
    &__title {
    }
    // .program__container
    &__container {
    }
    // .program__content
    &__content {
    }
    // .program__body
    &__body {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: -10px;
        @media (max-width: $mobile) {
            flex-direction: column;
            margin: -20px 0px;
        }
    }
    // .program__column
    &__column {
        flex: 1 1 33.3333%;
        padding: 10px;
        @media (max-width: $pc) {
            flex: 0 1 50%;
        }
        @media (max-width: $mobile) {
            flex: 1 1 auto;
            padding: 20px 0px;
            display: flex;
            flex-direction: column-reverse;
        }
    }
    // .program__item
    &__item {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        position: relative;
        transition: all 1s ease 0s;
        border-radius: 25px;
        min-height: 641px;
        transform-style: preserve-3d;
        &._active {
            transform: rotateY(-180deg) translate3d(0, 0, 0);
            .item-program__back {
                opacity: 1;
            }
        }
        &._watcher-view {
            @media (max-width: $mobile) {
                transform: rotateY(-180deg) translate3d(0, 0, 0);
                .item-program__back {
                    opacity: 1;
                }
            }
        }
        &:hover {
            transform: rotateY(-180deg) translate3d(0, 0, 0);
            .item-program__back {
                opacity: 1;
            }
        }
    }
    // .program__day
    &__day {
        font-family: $secondFamily;
        font-weight: 400;
        font-size: 40px;
        line-height: 120%;
        text-transform: uppercase;
        text-align: center;
        color: $gold;
        margin: 20px 0px 0px 0px;
        @media (max-width: $mobile) {
            font-size: 28px;
            margin: 0px 0px 10px 0px;
        }
        @media (max-width: $mobileSmall) {
            font-size: 24px;
        }
    }
}

.item-program {
    // .item-program__front
    &__front {
        cursor: pointer;
        transform: translate3d(0, 0, 0);
        transition: transform 1s ease 0s;
        img {
            width: 100%;
            height: 100%;
            border-radius: 25px;
            object-fit: cover;
        }
        @media (max-width: $mobile) {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 641px;
        }
    }
    // .item-program__back
    &__back {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: rotateY(-180deg) translate3d(0, 0, 0);
        transition:
            transform 1s ease 0s,
            opacity 1s ease 0.3s;
        display: flex;
        flex-direction: column;
        border-radius: 25px;
        background: $white;
        opacity: 0;
        @media (max-width: $mobile) {
            position: relative;
            height: 641px;
            transition:
                transform 1s ease 0s,
                opacity 1s ease 0.3s;
        }
    }
    // .item-program__body
    &__body {
        flex: 1 1 auto;
        padding: 40px 20px;
        @media (max-width: $mobile) {
            padding: 20px;
        }
    }
    // .item-program__day
    &__day {
        font-family: $secondFamily;
        font-weight: 400;
        font-size: 40px;
        line-height: 120%;
        text-transform: uppercase;
        text-align: center;
        color: $gold;
        margin: 0px 0px 30px 0px;
        @media (max-width: $mobile) {
            font-size: 28px;
            margin: 0px 0px 20px 0px;
        }
        @media (max-width: $mobileSmall) {
            font-size: 24px;
        }
    }
    // .item-program__list
    &__list {
        ul {
            margin: -7px 0px;
            li {
                padding: 7px 0px;
                display: flex;
                align-items: center;
            }
        }
    }
    // .item-program__icon
    &__icon {
        margin: 0px 10px 0px 0px;
    }
    // .item-program__sublist
    &__sublist {
        margin: 30px 0px 0px 0px;
        ul {
            margin: -5px 0px;
            li {
                display: flex;
                padding: 5px 0px;
                span {
                    font-weight: 400;
                    font-size: 18px;
                    margin: 0px 5px 0px 0px;
                    @media (max-width: $mobile) {
                        font-size: 16px;
                    }
                }
            }
        }
        @media (max-width: $mobile) {
            margin: 20px 0px 0px 0px;
        }
    }
    // .item-program__title
    &__title {
        font-weight: 700;
        font-size: 18px;
        text-transform: uppercase;
        text-align: center;
        margin: 0px 0px 15px 0px;
        @media (max-width: $mobile) {
            font-size: 16px;
        }
    }
    // .item-program__icons
    &__icons {
        display: flex;
        justify-content: center;
    }
}

//========================================================================================================================================================

//Результаты

.results {
    position: relative;
    padding: 100px 0px 0px 0px;
    @media (max-width: $tablet) {
        padding: 50px 0px 0px 0px;
    }
    @media (max-width: $mobileSmall) {
        padding: 30px 0px 0px 0px;
    }
    // .results__bg
    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @media (max-width: $pc) {
            object-fit: cover;
        }
    }
    // .results__container
    &__container {
        max-width: 1720px;
    }
    // .results__titles
    &__titles {
        position: relative;
        z-index: 10;
    }
    // .results__title-icon
    &__title-icon {
    }
    // .results__title
    &__title {
    }
    // .results__content
    &__content {
        position: relative;
        z-index: 10;
    }
    // .results__body
    &__body {
        display: flex;
        flex-wrap: wrap;
        margin: -10px;
        @media (max-width: 600px) {
            flex-direction: column;
            margin: -10px 0px;
        }
    }
    // .results__column
    &__column {
        flex: 0 1 25%;
        padding: 10px;
        @media (max-width: $pc) {
            flex: 0 1 50%;
        }
        @media (max-width: 600px) {
            flex: 1 1 auto;
            padding: 10px 0px;
        }
    }
    // .results__item
    &__item {
    }
    // .results__images
    &__images {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin: 60px 0px 0px 0px;
        @media (max-width: $mobile) {
            margin: 30px 0px 0px 0px;
        }
    }
    // .results__image
    &__image {
        flex: 0 1 600px;
        @media (max-width: $mobileSmall) {
            margin: 0px 30px;
        }
        img {
            width: 100%;
            height: auto;
        }
    }
    // .results__image-cards-1
    &__image-cards-1 {
        display: flex;
        align-items: center;
        margin: 0px 20px 30px 150px;
        @media (max-width: 1700px) {
            margin: 0px 20px 30px 20px;
        }
        @media (max-width: $pc) {
            margin: 0px 20px 30px 0px;
        }
        @media (max-width: $mobileSmall) {
            margin: 0px;
            position: absolute;
            bottom: 20px;
            left: 0px;
        }
        img {
            max-width: 188px;
            height: auto;
            @media (max-width: $pc) {
                max-width: 120px;
            }
            @media (max-width: $tablet) {
                max-width: 100px;
            }
            @media (max-width: $mobile) {
                max-width: 80px;
            }
            @media (max-width: 600px) {
                max-width: 50px;
            }
        }
    }
    // .results__image-cards-2
    &__image-cards-2 {
        display: flex;
        align-items: center;
        margin: 0px 60px 30px 30px;
        @media (max-width: 1700px) {
            margin: 0px 20px 30px 20px;
        }
        @media (max-width: $pc) {
            margin: 0px 0px 30px 20px;
        }
        @media (max-width: $mobileSmall) {
            margin: 0px;
            position: absolute;
            bottom: 20px;
            right: 0px;
        }
        img {
            max-width: 188px;
            height: auto;
            @media (max-width: $pc) {
                max-width: 120px;
            }
            @media (max-width: $tablet) {
                max-width: 100px;
            }
            @media (max-width: $mobile) {
                max-width: 80px;
            }
            @media (max-width: 600px) {
                max-width: 50px;
            }
        }
    }
    // .results__image-1
    &__image-1 {
        margin: 0px 0px 50px 0px;
    }
    // .results__image-2
    &__image-2 {
        transform: rotate(-11deg);
        margin: 0px 0px 0px -30px;
    }
    // .results__image-3
    &__image-3 {
        margin: 50px 30px 0px 0px;
        transform: rotate(7deg);
        @media (max-width: $pc) {
            margin: 50px -30px 0px 0px;
        }
    }
    // .results__image-4
    &__image-4 {
        transform: rotate(-15deg);
        margin: 0px 30px 80px 0px;
        @media (max-width: $mobileSmall) {
            margin: 0px 0px 0px 0px;
        }
    }
}

.item-results {
    border-radius: 20px;
    padding: 40px;
    background: $bg;
    height: 100%;
    @media (max-width: $mobile) {
        padding: 20px;
    }
    // .item-results__icon
    &__icon {
        margin: 0px 0px 20px 0px;
        @media (max-width: $mobile) {
            margin: 0px 0px 10px 0px;
        }
    }
    // .item-results__text
    &__text {
        p {
            margin: 0px 0px 10px 0px;
            &:last-child {
                margin: 0px 0px 0px 0px;
            }
        }
    }
}

//========================================================================================================================================================

//Отзывы

.reviews {
    background: $bg;
    padding: 100px 0px;
    @media (max-width: $tablet) {
        padding: 50px 0px;
    }
    @media (max-width: $mobileSmall) {
        padding: 30px 0px;
    }
    // .reviews__container
    &__container {
    }
    // .reviews__titles
    &__titles {
    }
    // .reviews__title-icon
    &__title-icon {
    }
    // .reviews__title
    &__title {
    }
    // .reviews__content
    &__content {
    }
    // .reviews__slider
    &__slider {
        @media (max-width: $pc) {
            margin: 0px -15px;
            padding: 0px 15px;
        }
    }
    // .reviews__wrapper
    &__wrapper {
    }
    // .reviews__slide
    &__slide {
        display: flex;
        height: auto;
    }
    // .reviews__item
    &__item {
    }
    // .reviews__arrows
    &__arrows {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 40px 0px 0px 0px;
        @media (max-width: $mobile) {
            display: none;
        }
    }
    // .reviews__arrow-prev
    &__arrow-prev {
        cursor: pointer;
        margin: 0px 20px 0px 0px;
        &::before {
            font-size: 14px;
            transform: rotate(-180deg);
            color: $gold;
            transition: all 0.3s ease 0s;
        }
        &:hover {
            &::before {
                color: $hovergold;
            }
        }
    }
    // .reviews__arrow-next
    &__arrow-next {
        cursor: pointer;
        margin: 0px 0px 0px 20px;
        &::before {
            font-size: 14px;
            color: $gold;
            transition: all 0.3s ease 0s;
        }
        &:hover {
            &::before {
                color: $hovergold;
            }
        }
    }
}

.item-reviews {
    border-radius: 20px;
    background: $white;
    padding: 40px 30px;
    @media (max-width: $mobile) {
        padding: 20px 15px;
    }
    // .item-reviews__top
    &__top {
        margin: 0px 0px 30px 0px;
        @media (max-width: $mobile) {
            margin: 0px 0px 20px 0px;
        }
    }
    // .item-reviews__title
    &__title {
        font-family: $secondFamily;
        font-weight: 400;
        font-size: 30px;
        color: $bordo;
        margin: 0px 0px 10px 0px;
        @media (max-width: $mobile) {
            font-size: 24px;
            margin: 0px 0px 5px 0px;
        }
        @media (max-width: $mobileSmall) {
            font-size: 20px;
        }
    }
    // .item-reviews__subtitle
    &__subtitle {
        font-weight: 400;
        font-size: 14px;
        color: $grey;
    }
    // .item-reviews__bottom
    &__bottom {
        p {
            margin: 0px 0px 15px 0px;
            &:last-child {
                margin: 0px 0px 0px 0px;
            }
        }
    }
}

//========================================================================================================================================================

//Оставить заявку

.leave-request {
    position: relative;
    padding: 100px 0px 122px 0px;
    @media (max-width: $tablet) {
        padding: 50px 0px;
    }
    @media (max-width: $mobileSmall) {
        padding: 30px 0px;
    }
    // .leave-request__bg
    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    // .leave-request__container
    &__container {
        position: relative;
        z-index: 10;
    }
    // .leave-request__titles
    &__titles {
    }
    // .leave-request__title-icon
    &__title-icon {
    }
    // .leave-request__title
    &__title {
    }
    // .leave-request__body
    &__body {
        position: relative;
        z-index: 10;
    }
    // .leave-request__buttons
    &__buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    // .leave-request__button
    &__button {
        @media (max-width: $mobile) {
            margin: 0px 0px 0px 45px;
        }
        &:hover {
            a {
                background: $bg;
            }
        }
        a {
            background: $white;
        }
    }
    // .leave-request__arrow
    &__arrow {
        margin: -120px 0px -40px -450px;
        @media (max-width: $mobile) {
            margin: -120px 0px -40px -300px;
        }
        @media (max-width: $mobileSmall) {
            margin: -100px 0px -40px 0px;
            width: 100%;
        }
    }
    // .leave-request__items
    &__items {
        max-width: 400px;
        @media (max-width: $mobile) {
            margin: 0px 0px 0px 105px;
        }
    }
    // .leave-request__item
    &__item {
        border: 2px solid $gold;
        border-radius: 20px;
        padding: 20px;
        background: $white;
        @media (max-width: $mobileSmall) {
            padding: 20px 10px;
        }
        p {
            text-align: center;
            margin: 0px 0px 5px 0px;
            &:last-child {
                margin: 0px 0px 0px 0px;
            }
        }
    }
    // .leave-request__image-1
    &__image-1 {
        position: absolute;
        top: 166px;
        width: 188px;
        height: auto;
        left: -20px;
        @media (max-width: $mobile) {
            display: none;
        }
    }
    // .leave-request__image-2
    &__image-2 {
        transform: rotate(-11deg);
        position: absolute;
        top: 176px;
        width: 188px;
        height: auto;
        left: 131px;
        @media (max-width: $mobile) {
            display: none;
        }
    }
    // .leave-request__image-3
    &__image-3 {
        transform: rotate(-15deg);
        position: absolute;
        top: 116px;
        width: 166px;
        height: auto;
        right: 272px;
        @media (max-width: $mobile) {
            display: none;
        }
    }
    // .leave-request__image-4
    &__image-4 {
        transform: rotate(15deg);
        position: absolute;
        top: 195px;
        width: 172px;
        height: auto;
        right: 95px;
        @media (max-width: $mobile) {
            display: none;
        }
    }
    // .leave-request__image-5
    &__image-5 {
        transform: rotate(-15deg);
        position: absolute;
        top: 89px;
        width: 168px;
        height: auto;
        right: -95px;
        @media (max-width: $mobile) {
            display: none;
        }
    }
}
